/* Page */
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	letter-spacing: 1px;
}
/* Header Styles */
h1 {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 26px;
}
#edu, #work, #me {
	padding: 12px;
}
#Title {
	margin-top: 0;
	text-align: center;
	border: solid 16px #4da6ff;
	padding: 8px;
	background-color: #4da6ff;
	color: white;
}
/* Cover */
#tom {
position: relative;
bottom: 40px;
/*REMOVE left: 45%;*/
min-width: 40%;
max-width: 40%;
padding: 0px;
padding-top: 40px;
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(92%, transparent), to(white));
float: right;
left: 8px;
bottom: 46px;


}

.cover {
	vertical-align: left;
	margin: 24px;
	margin-right: 20px;
	float: left;
	font-size: 28px;
	margin-bottom: 76px;
	margin-top: 76px;


}

#intro {
	margin-right: 26px;
	padding-left: 36px;
	padding-bottom: 22px;
	width: 90%;
	height: 100%;

	

}
/*///////// Work Experience //////////////////*/
.xp {
	padding-top: 20px;
	padding-bottom: 20px;
}

.sprintul {
	font-size: 18px;
	margin-left: 36px;
}

.mensul {
	font-size: 18px;
	margin-left: 36px;
}
.sprintxp {
	background-image: url("../images/cell.jpeg");
	background-image: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: yellow;
	text-shadow: 2px 1px 1px #4d4d4d;
	padding: 40px;
	max-width: 100%;
  	min-height: 200px;
}

.mensxp {
	background-image: url("../images/Suits.jpeg");
	background-image: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	padding: 40px;
	text-shadow: 2px 1px 1px #4d4d4d;
}
#sales {
	text-shadow: 2px 1px 1px #4d4d4d;
}
#sprintlogo {
	padding-bottom: 36px;
	width: 30%;
	height: 100%;
}
#menslogo {
	padding-bottom: 36px;
	width: 20%;
	height: 100%;
	max-width: 40%;
}
#sprintlogo {
	padding-bottom: 36px;
	width: 30%;
	height: 100%;
	max-width: 40%;
}
#menslogo {
	width: 20%;
	height: 100%;
	max-width: 40%;
}

#jobs {
	font-size: 22px;
}

/* Education */
.education {
	margin:0px;

}
.uvuedu{
	font-size: 22px;
	padding: 28px;

}
.thinkfuledu {
	font-size: 22px;
	padding: 28px;
}


#uvulogo {
	width: 30%;
	max-width: 10%;
	min-width: 40%;
}
#thinklogo {
	width: 30%;
	max-width: 10%;
	min-width: 40%;
}


/* Contact styles */

#me {
	font-size: 40px;
	text-align: center;
}

.contact {
	margin: 0;
	border: solid 16px #4da6ff;
	padding: 0px;
	background-color: #4da6ff;
	color: white;
	text-align: center;
}
a:visted {

}

#infos {
	padding: 1px;
	font-size: 20px;
	
	
}

/* Skills With my Bowstaff */

.skills {
	margin: 22px;
	column-count: 3;
	column-gap: 1.75em;
}
#skillset {
	list-style-type: none;
	display: inline-table;
	font-size: 20px;
	width: 95%;
}



#fineprint {
	font-size: 8px;
	padding-top: 26px;
}
.grid {
	display: inline-block;
	padding: 12px;
}



/* Images fade? */
/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}
 

 
/* Icons */

.fa-mobile {
	
padding: 8px;
	color: white;
}
.fa-envelope-o {
	padding: 8px;
	color: white;
}
.fa-home{
	padding: 8px;
	color: white;
}

.fa-graduation-cap {
color: green;
padding: 8px;
}
/*contact icons*/

.fa-file-pdf-o {

}
.fa-twitter {

}

.fa-stack-overflow {

}

.fa-linkedin {

}
.fa-github {

}
/* Link Div */
.cicon, ul {
	padding: 2px;

}
.poop {
	
}
.cicon {
	list-style-type: none;
	display: inline;

}
.inlinec {
	display: inline;
	padding: 12px;
}

.inlinec:hover {
	color:#ffa64d;
}
/* Progress Bar concept */


.print {
	float: right;
	margin: 0px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color:#ffa64d;
}
 a:visited {
 	color: white;

 }

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}
meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(
    90deg, 
    #8bcf69 5%, 
    #e6d450 5%,
    #e6d450 15%,
    #f28f68 15%,
    #f28f68 55%,
    #cf82bf 55%,
    #cf82bf 95%,
    #719fd1 95%,
    #719fd1 100%
  );
  background-size: 100% 100%;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);



.progbar {
	text-align: center;
	width: 50%;
	float: right;
	position: relative;
	max-width: 60%;
	min-width: 50%;
	bottom: 64px;
	right: 70px;
}

meter {
  
  padding: 0;
  display: inline-block;
  margin: 0;
  max-width: 80%;
	min-width: 20%;
  width: 90%;
  height: 55px;

 
  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  border: 1px solid #ccc;
  
meter::-webkit-meter-bar {
  
  background: none; /* Important to get rid of default background. */
 
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
  
  transition: width .5s;
  box-shadow: 0 5px 5px -5px #999 inset;
  
  background-image: linear-gradient( 90deg, 
                                     #8bcf69 5%, 
                                     #e6d450 5%,
                                     #e6d450 15%,
                                     #f28f68 15%,
                                     #f28f68 55%,
                                     #cf82bf 55%,
                                     #cf82bf 95%,
                                     #719fd1 95%,
                                     #719fd1 100%);
  
  
}

meter::-webkit-meter-optimum-value:hover {
  
  background-image: linear-gradient( 90deg, 
                                     #8bcf69 20%, 
                                     #e6d450 20%,
                                     #e6d450 40%,
                                     #f28f68 40%,
                                     #f28f68 60%,
                                     #cf82bf 60%,
                                     #cf82bf 80%,
                                     #719fd1 80%,
                                     #719fd1 100%);
  
  transition: width .5s;
  width: 100% !important; /* !important keyword used to override the inline style in ebkit browsers. */
}

meter::-moz-meter-bar {
  
  box-shadow: 0 5px 5px -5px #999 inset;
  
  background-image: linear-gradient( 90deg, 
                                     #8bcf69 5%, 
                                     #006600 5%,
                                     #e6d450 15%,
                                     #f28f68 15%,
                                     #f28f68 55%,
                                     #cf82bf 55%,
                                     #cf82bf 95%,
                                     #719fd1 95%,
                                     #719fd1 100%);
  
 
}



.swatch {
  
  margin: 0; padding:0;
  margin: 5em auto;
  list-style-type: none;
  width: 550px;
  display: block;
  position: relative;
}

.swatch::before {
  
  content: '';
  width: 100%;
  height: 10px;
  outline: 0px solid #000;
  position: absolute;
  
  left: 0;
  border-radius: 2px;
  
  

}

.swatch__elem {
  
  outline: 0px solid #c00;
  float: left;
  width: 110px;
  

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.used-space {
  
  display: block;
  line-height: 2;
  font-size: 85%;
  color: #666;
}

.meter-gauge {

    border: 1px solid #ccc;
    border-radius: 3px;

    background-color: whiteSmoke;
    box-shadow: 0 5px 5px -5px #333 inset;

    width: 400px;
    height: 25px;
    
    
}
  
.meter-gauge > span {
 
  height: inherit;  
  box-shadow: 0 5px 5px -5px #999 inset;
  
  background-color: blue;
  background-image: linear-gradient( 90deg, 
                                     #8bcf69 5%, 
                                     #e6d450 5%,
                                     #e6d450 15%,
                                     #f28f68 15%,
                                     #f28f68 55%,
                                     #cf82bf 55%,
                                     #cf82bf 95%,
                                     #719fd1 95%,
                                     #719fd1 100%);
  
  
}



/*experiments*/
