/* Page */
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
/* Header Styles */
h1 {
	font-family: 'Roboto', sans-serif;
}
#Title {
	
	text-align: center;
	border: solid 16px #4da6ff;
	padding: 8px;
	background-color: #4da6ff;
	color: white;
}

/* Meat and Bones */
/* Work Experience */
.ul {
	padding: 12px;
}
.sprintxp {
	background-image: url("../images/cell.jpeg");
	background-image: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	color: yellow;
	text-shadow: 2px 1px 1px #4d4d4d;
	padding: 40px;

}
#sprintlogo {
	width: 30%;
	height: 100%;
}
.mensxp {
	background-image: url("../images/suits.jpeg");
	background-image: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	color: white;
	padding: 40px;
	text-shadow: 2px 1px 1px #4d4d4d;
}
#menslogo {
	width: 20%;
	height: 100%;
}

/* Education */
#uvulogo {
	width: 30%;
}
#thinklogo {
	width: 30%;
}