/* Page */
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	letter-spacing: 1px;
}
/* Header Styles */
h1 {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 26px;
}
#edu, #work, #me {
	padding: 12px;
}
#Title {
	margin-top: 0;
	text-align: center;
	border: solid 16px #4da6ff;
	padding: 8px;
	background-color: #4da6ff;
	color: white;
}
/* Cover */
#tom {
position: relative;
bottom: 40px;
/*REMOVE left: 45%;*/
min-width: 40%;
max-width: 40%;
padding: 0px;
padding-top: 40px;
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(white));
float: right;
left: 8px;
bottom: 46px;


}

.cover {
	vertical-align: left;
	margin: 24px;
	margin-right: 20px;
	float: left;
	font-size: 24px;


}

#intro {
	margin-right: 26px;
	padding-left: 36px;
	padding-bottom: 22px;
	width: 100%;
	height: 100%;


}
/*///////// Work Experience //////////////////*/
.xp {
	padding-top: 20px;
	padding-bottom: 20px;
}

.sprintul {
	font-size: 18px;
}

.mensul {
	font-size: 18px;
}
.sprintxp {
	background-image: url("../images/cell.jpeg");
	background-image: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: yellow;
	text-shadow: 2px 1px 1px #4d4d4d;
	padding: 40px;
	max-width: 100%;
  	min-height: 200px;
}

.mensxp {
	background-image: url("../images/Suits.jpeg");
	background-image: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	padding: 40px;
	text-shadow: 2px 1px 1px #4d4d4d;
}
#sales {
	text-shadow: 2px 1px 1px #4d4d4d;
}
#sprintlogo {
	padding-bottom: 36px;
	width: 30%;
	height: 100%;
}
#menslogo {
	padding-bottom: 36px;
	width: 20%;
	height: 100%;
	max-width: 40%;
}
#sprintlogo {
	padding-bottom: 36px;
	width: 30%;
	height: 100%;
	max-width: 40%;
}
#menslogo {
	width: 20%;
	height: 100%;
	max-width: 40%;
}

#jobs {
	font-size: 22px;
}

/* Education */
.education {
	margin: 22px;

}
.uvuedu{
	font-size: 22px;
	padding: 28px;
}
.thinkfuledu {
	font-size: 22px;
	padding: 28px;
}


#uvulogo {
	width: 30%;
}
#thinklogo {
	width: 30%;
}


/* Contact styles */

#me {
	text-align: none;
}

.contact {
	
	border: solid 16px #4da6ff;
	padding: 8px;
	background-color: #4da6ff;
	color: white;
}

#infos {
	padding: 16px;
	font-size: 20px;
	
	
}

/* Skills With my Bowstaff */
.skills {
	margin: 22px;
	column-count: 3;
	column-gap: 1.75em;
}
#skillset ul {
	list-style-type: none;
	display: inline-table;
	font-size: 20px;
}

/* Progress Bar concept */

